* {
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}

header {
  background-color: #000;
  height: 50px;
}
header .header__content {
  position: relative;
  align-items: center;
}
@media (max-width: 576px) {
  header .header__content {
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .header__content {
    width: 100%;
    padding-right: 60px;
  }
}
header .header__content .header__logo img {
  position: absolute;
  width: 116px;
  height: 32px;
  top: 10px;
  left: 24px;
}
@media (max-width: 576px) {
  header .header__content .header__logo {
    font-size: 10px;
  }
}
header .header__content .header__account {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
header .header__content .header__account .cart_icon {
  padding: 0 10px;
  position: relative;
}
header .header__content .header__account .cart_icon img {
  position: absolute;
  top: 8.33%;
  bottom: 5.56%;
  right: 53.03%;
}
@media (max-width: 576px) {
  header .header__content .header__account .cart_icon img {
    font-size: 10px;
    width: 100%;
  }
}
header .header__content .header__account .cart_icon span {
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  padding-left: 46.97%;
}
@media (max-width: 576px) {
  header .header__content .header__account .cart_icon span {
    display: none;
  }
}
header .header__content .header__account a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0 22px;
  font-weight: 300;
  line-height: 19px;
}
@media (max-width: 576px) {
  header .header__content .header__account a {
    font-size: 10px;
    padding: 0 12px;
  }
}

.menu {
  background-color: #F5F5F5;
  position: relative;
}
.menu .container ul {
  padding: 0;
}
.menu .container ul li {
  list-style: none;
}
.menu .container ul li a {
  text-decoration: none;
  color: black !important;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 20px !important;
}
@media (max-width: 576px) {
  .menu .container ul li a {
    font-size: 15px;
    padding-left: 10px;
  }
}
.menu .container ul .menu__item a {
  text-decoration: none;
  padding: 10px 0;
  color: #000;
  font-weight: 24px;
  font-size: 20px;
  padding: 0 20px 0 20px;
  transition: 300ms ease all;
}
.menu .container ul .menu__item a::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.8s ease all;
}
.menu .container ul .menu__item a:hover {
  color: #E1B067;
  transform: scale(1.1);
}
.menu .container ul .menu__item a:hover::after {
  width: 100%;
  border-bottom: 1px solid #E1B067;
}
.menu .container ul #active {
  font-weight: 400;
  padding-left: 16px !important;
}
.menu .container ul #active::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #E1B067;
  transition: 0.8s ease all;
}
.menu .container ul #active:hover {
  color: black;
  transform: scale(1.1);
}
.menu .container ul #active:hover::after {
  width: 0%;
}

.carousel__bg {
  background-image: url(./../../imgs/image\ 6.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  min-height: 530px;
}
.carousel__bg .container .carousel__img {
  transform: scale(1.1);
}
.carousel__bg .container .carousel__img img {
  width: 821px;
  height: 392px;
  padding-left: 86px;
}
.carousel__bg .container .carousel__content {
  padding-top: 124px;
  padding-left: 300px;
  min-width: 300px;
}
.carousel__bg .container .carousel__content h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  color: #000;
}
.carousel__bg .container .carousel__content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
}
.carousel__bg .container .carousel__content button {
  outline: none;
  background-color: #F8B653;
  color: #fff;
  padding: 13px 35px;
  font-size: 20px;
  font-weight: 300;
  border-color: transparent;
}
@media (max-width: 576px) {
  .carousel__bg .container .carousel__content button {
    padding: 5px 16px;
    font-size: 12px;
  }
}
.carousel__bg .container button {
  background: none;
  border: none;
}
.carousel__bg .container .carousel-control-next {
  padding-left: 80px;
}
.carousel__bg .container .carousel-control-next .carousel-control-next-icon {
  color: black;
  background-image: url(./../../imgs/Polygon\ 1.png) !important;
  width: 65px;
  height: 45px;
}
.carousel__bg .container .carousel-control-prev {
  padding-right: 80px;
}
.carousel__bg .container .carousel-control-prev .carousel-control-prev-icon {
  background-image: url(./../../imgs/Polygon\ 2.png) !important;
  color: black;
  width: 65px;
  height: 45px;
}
.carousel__bg .container ol {
  position: absolute;
  bottom: 88px !important;
}
.carousel__bg .container .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  background-color: whitesmoke;
}

.product {
  padding-top: 46px;
}
.product .container .col {
  padding: 0;
}
.product .container .row {
  padding: 0;
  margin: 0;
}
.product .container .feature-header h2 {
  text-align: center;
  padding: 10px 0;
  color: #000;
  font-weight: 600;
  font-size: 29px;
}
.product .container .feature-body {
  padding-top: 65px;
}
.product .container .feature-body .product-card {
  padding: 25px 34px;
}
.product .container .feature-body .product-card .card-body {
  background-color: #F8F8F8;
  position: relative;
}
.product .container .feature-body .product-card .card-body img {
  width: 100%;
  padding: 45px 57px 104px 57px;
  transition: all 1s linear;
}
.product .container .feature-body .product-card .card-body img:hover {
  transform: scale(1.1);
}
.product .container .feature-body .product-card .card-body .titles {
  position: absolute;
  bottom: 0;
  left: 0;
}
.product .container .feature-body .product-card .card-body .titles .product-title {
  padding: 10px 0;
  color: #000;
  font-weight: 300;
  font-size: 24px;
  padding: 0 0 8px 23px;
  margin: 0;
}
.product .container .feature-body .product-card .card-body .titles .product-description {
  padding: 10px 0;
  color: #CBC9C9;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  padding: 0 0 8px 23px;
  margin: 0;
}
.product .container .feature-body .product-card .card-actions {
  display: flex;
  font-size: 24px;
  line-height: 29px;
}
.product .container .feature-body .product-card .card-actions .btn-buy {
  width: 50%;
  background-color: #E1B067;
  border: none;
  border-radius: none;
  text-decoration: none;
  padding: 10px 0;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  padding: 17px 27px 18px 39px;
  transition: all 1s ease;
}
.product .container .feature-body .product-card .card-actions .btn-buy:hover {
  background-color: #000;
  color: #E1B067;
}
.product .container .feature-body .product-card .card-actions .price-text {
  font-size: 24px;
  line-height: 29px;
  background-color: #DEDDDC;
  width: 50%;
  text-align: center;
  padding: 17px 40px 18px 66px;
  margin: 0;
}

.register .container {
  position: relative;
  width: auto;
  height: 538px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 1200px) and (max-width: 992px) {
  .register .container {
    padding: 0 100px;
    padding-bottom: 50px !important;
    height: auto;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .register .container {
    padding: 0 50px;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .register .container {
    padding: 0 15px;
  }
}
.register .container .title {
  padding: 30px 0;
}
.register .container .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
  text-align: center;
}
@media (max-width: 576px) {
  .register .container .title h1 {
    font-size: 25px;
  }
}
.register .container .row {
  margin-left: 120px;
}
@media (max-width: 1200px) {
  .register .container .row {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .register .container .row .col-left {
    width: 100%;
    padding: 0px;
  }
}
.register .container .row .col-left .input {
  position: absolute;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 1200px) {
  .register .container .row .col-left .input {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .register .container .row .col-left .input {
    height: 40px !important;
  }
}
.register .container .row .col-left .input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #ae18e2;
}
@media (max-width: 768px) {
  .register .container .row .col-left .input::after {
    height: 2px;
  }
}
@media (max-width: 576px) {
  .register .container .row .col-left .input::after {
    height: 2px;
  }
}
.register .container .row .col-left .input input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background: rgba(0, 0, 0, 0);
}
@media (max-width: 576px) {
  .register .container .row .col-left .input input {
    font-size: 20px;
  }
}
.register .container .row .col-left .input span {
  position: absolute;
  right: 0;
  top: 17.65%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
  text-align: end;
}
.register .container .row .col-left .input1 {
  top: 140px;
}
@media (max-width: 768px) {
  .register .container .row .col-left .input1 {
    top: 0px;
  }
}
.register .container .row .col-left .input2 {
  top: 218px;
}
@media (max-width: 768px) {
  .register .container .row .col-left .input2 {
    top: 2px;
  }
}
.register .container .row .col-left .input3 {
  top: 296px;
}
@media (max-width: 768px) {
  .register .container .row .col-left .input3 {
    top: 5px;
  }
}
@media (max-width: 1200px) {
  .register .container .row .col-right {
    width: 50%;
    padding: 0 30px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .register .container .row .col-right {
    width: 100%;
    padding: 0px;
  }
}
.register .container .row .col-right .input {
  position: absolute;
  width: 482px;
  height: 51px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 1200px) {
  .register .container .row .col-right .input {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .register .container .row .col-right .input {
    height: 40px !important;
  }
}
.register .container .row .col-right .input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background-color: #ae18e2;
}
@media (max-width: 768px) {
  .register .container .row .col-right .input::after {
    height: 2px;
  }
}
@media (max-width: 768px) {
  .register .container .row .col-right .input::after {
    height: 2px;
  }
}
.register .container .row .col-right .input input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  width: 100%;
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background: rgba(0, 0, 0, 0);
}
@media (max-width: 576px) {
  .register .container .row .col-right .input input {
    font-size: 20px;
  }
}
.register .container .row .col-right .input span {
  position: absolute;
  right: 0;
  top: 17.65%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
  text-align: end;
}
.register .container .row .col-right .input1 {
  top: 140px;
  left: 705px;
}
@media (max-width: 768px) {
  .register .container .row .col-right .input1 {
    top: 10px;
    left: 5px;
  }
}
@media (max-width: 576px) {
  .register .container .row .col-right .input1 {
    left: 5px;
  }
}
.register .container .row .col-right .input2 {
  top: 218px;
  left: 705px;
}
@media (max-width: 768px) {
  .register .container .row .col-right .input2 {
    top: 14px;
    left: 5px;
  }
}
@media (max-width: 576px) {
  .register .container .row .col-right .input2 {
    left: 5px;
  }
}
.register .container .row .col-right .gender {
  position: absolute;
  width: 482px;
  height: 51px;
  top: 320px;
  right: auto;
  bottom: auto;
  left: 701px;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .register .container .row .col-right .gender {
    position: relative;
    width: auto;
    height: 51px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 50px 0;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .register .container .row .col-right .gender {
    font-size: 20px;
    margin: 30px 0;
  }
}
.register .container .row .col-right .gender span {
  position: absolute;
  top: -10px;
  color: #f50e0e;
  font-size: 13px;
}
.register .container .row .col-right .gender label {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
@media (max-width: 1200px) and (max-width: 567px) {
  .register .container .row .col-right .gender label {
    font-size: 18px;
  }
}
.register .container .row .col-right .gender input[type=radio] {
  appearance: none;
  display: inline-block;
  width: 65px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  border: 10px solid #d9d9d9;
  background-color: #d9d9d9;
  cursor: pointer;
  margin: 0 10px 0 30px;
}
@media (max-width: 1200px) {
  .register .container .row .col-right .gender input[type=radio] {
    width: 30px;
    height: 20px;
    border-width: 5px;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .register .container .row .col-right .gender input[type=radio] {
    margin: 0 5px 0 10px;
  }
}
.register .container .row .col-right .gender input[type=radio]:checked {
  background-color: #ae18e2;
}
.register .container .row .col-right button {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  line-height: 36px;
  position: absolute;
  width: 291px;
  height: 50px;
  top: calc(50% - 25px + 204px);
  right: auto;
  bottom: auto;
  left: calc(50% - 145.5px + 206.5px);
  text-align: center;
  background-color: #ae18e2;
  border: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .register .container .row .col-right button {
    position: relative;
    width: 291px;
    height: 50px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
@media (max-width: 1200px) and (max-width: 576px) {
  .register .container .row .col-right button {
    width: 30%;
  }
}

.footer {
  margin-top: 10rem;
}
.footer .footer__up, .footer .footer__down {
  padding: 1rem 0;
}
.footer .footer__up a, .footer .footer__down a, .footer .footer__up p, .footer .footer__down p {
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 300;
  color: red;
}
.footer .footer__up a:hover, .footer .footer__down a:hover {
  color: #000;
}
.footer .footer__up .btn__footer, .footer .footer__down .btn__footer {
  font-weight: 400;
  color: #E1B067;
}
.footer .footer__up .btn__footer:hover, .footer .footer__down .btn__footer:hover {
  color: #F8B653;
}
.footer .footer__up .footer__items, .footer .footer__down .footer__items {
  width: 33.33%;
  padding-left: 2rem;
  border-left: 1px solid #000;
}
.footer .footer__down {
  background-color: #F5F5F5;
}/*# sourceMappingURL=main.css.map */