.product {
    padding-top: 46px;

    .container {
        .col {
            padding: 0;
        }
        .row {
            
            padding: 0;
            margin: 0;}

            .feature-header {
                
                h2 {
                    text-align: center;
                    @include text($text-color-black, $semiBold, $large);
                }
            }

            .feature-body {
                padding-top: 65px;

                .product-card {
                    padding: 25px 34px;

                    .card-body {
                        background-color: $bg-card-light;
                        position: relative;

                        img {
                            width: 100%;
                            padding: 45px 57px 104px 57px;
                            transition: all 1s linear;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .titles {
                            position: absolute;
                            bottom: 0;
                            left: 0;

                            .product-title {
                                @include text($text-color-black, $light, $medium);
                                padding: 0 0 8px 23px;
                                margin: 0;
                            }

                            .product-description {
                                @include text($sub-title-color, $light, $small);
                                padding: 0;
                                padding: 0 0 8px 23px;
                                margin: 0;
                            }
                        }
                    }

                    .card-actions {
                        display: flex;
                        font-size: 24px;
                        line-height: 29px;
                        .btn-buy {
                            width: 50%;
                            background-color: $bg-btn;
                            border: none;
                            border-radius: none;
                            text-decoration: none;
                            @include text($text-color-black, $regular, $small);
                            padding: 17px 27px 18px 39px;
                            transition: all 1s ease;

                            &:hover {
                                background-color: $color-black;
                                color: $bg-btn;
                            }

                        }

                        .price-text {
                            font-size: 24px;
                            line-height: 29px;
                            background-color: $grey;
                            width: 50%;
                            text-align: center;
                            padding: 17px 40px 18px 66px;
                            margin: 0;
                        }
                    }
                }
            }
        
    }
}