.carousel{
    background-image: url(./../../imgs/image\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    min-height: 500px;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .carousel__img{
            @media(max-width: 768px){
                width: 200px;
                margin-left: 30px;
            }
            @media(max-width: 575px){
                width: 120px;
                margin-left: 20px;
            }
            img{
                width: 100%;
                padding-right: 35px;
                @media(max-width: 576){
                    width: 100%;
                    padding-right: 10px;
                }
                @media(max-width: 768px){
                    width: 100%;
                }
            }
        }
        .carousel__content{
            padding-right: 30px;
            min-width: 300px;
            @media(max-width: 576px){
                min-width: 130px !important;
                padding-right: 0 !important;
            }
            @media(max-width: 768px){
                min-width: 200px;
                padding-right: 90px;
            }
            h2 {
                font-size: 40px;
                font-weight: 300;
                line-height: 48px;
                color: $text-color-black;
                @media(max-width: 576px){
                    font-size: 18px !important;

                }
                @media(max-width: 768px){
                    font-size: 22px;
                }
            }
            p {
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
                color: $text-color-black;
                @media(max-width: 576px){
                    font-size: 16px !important;
                }
            }
            button {
                outline: none;
                background-color: $yellow;
                color: $text-color-white;
                padding: 13px 35px;
                font-size: 20px;
                font-weight: 300;
                border-color: transparent;
                @media(max-width: 576px){
                    padding: 5px 16px;
                    font-size: 12px;

                }
                @media(max-width: 768px){
                    padding: 8px 25px;
                }
            }
        }
    }
}

